@model MateriasPrimasApp.Models.Derivado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


    <hr />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-eye"></i>Detalles Derivado
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.ProductoOrigen)
                                  </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                      <dd>
                                          @Html.DisplayFor(model => model.ProductoOrigen.Codigo)
                                      </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Codigo)
                                    </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                    <dd>
                                        @Html.DisplayFor(model => model.Codigo)
                                    </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                    <dd>
                                        @Html.DisplayFor(model => model.Nombre)
                                    </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                    <dd>
                                        @Html.DisplayFor(model => model.Descripcion)
                                    </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Unidad)
                                  </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                      <dd>
                                          @Html.DisplayFor(model => model.Unidad.Unidad)
                                      </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Categoria)
                                  </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                      <dd>
                                          @Html.DisplayFor(model => model.Categoria.Nombre)
                                      </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Tipo)
                                  </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                      <dd>
                                          @Html.DisplayFor(model => model.Tipo.Nombre)
                                      </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PrecioVentaMn)
                                    </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                    <dd>
                                        @Html.DisplayFor(model => model.PrecioVentaMn)
                                    </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PrecioVentaMlc)
                                    </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                    <dd>
                                        @Html.DisplayFor(model => model.PrecioVentaMlc)
                                    </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PrecioCompraMn)
                                    </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                    <dd>
                                        @Html.DisplayFor(model => model.PrecioCompraMn)
                                    </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                                <div class="col-md-6 text-center">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PrecioCompraMlc)
                                    </dt>
                                </div>
                                <div class="col-md-6 text-left">
                                    <dd>
                                        @Html.DisplayFor(model => model.PrecioCompraMlc)
                                    </dd>
                                </div>
                    </div>
                    <div class="row static-info">
                    </div>
                </div>
            </div>
        </div>
       <div class="col-md-2"></div>
    </div>
    <dl class="dl-horizontal">
  </dl>
<div class="text-center">
   <div class="btn-group btn-group-solid">
        <a asp-action="Index" class="btn btn-info">Atrás</a>
        <a asp-action="Edit" class="btn yellow" asp-route-id="@Model.Id">Editar</a> 
</div>
</div>
