@model MateriasPrimaApp.Models.UnidadDeMedida

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eye"></i>Detalles Unidad De Medida
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Unidad)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Unidad)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <dl class="dl-horizontal">
  </dl>
<div class="text-center">
   <div class="btn-group btn-group-solid">
        <a asp-action="Index" class="btn btn-info">Atrás</a>
        <a asp-action="Edit" class="btn yellow" asp-route-id="@Model.Id">Editar</a> 
</div>
</div>
