@model IEnumerable<MateriasPrimasApp.ViewModels.ConciliacionVentasVM>
@{
    ViewData["Title"] = "Existencias";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Conciliacion de Ventas de @ViewBag.UEB en mes @ViewBag.Mes
                </div>
            </div>
            <div class="portlet-body">
                <button class="btn btn-primary hidden-print" onclick="window.print();" style="margin-bottom:15px;">Imprimir</button>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Producto</th>
                            <th rowspan="2">UM</th>
                            <th colspan="3">MES</th>
                            <th colspan="3">ACUMULADO</th>
                        </tr>
                        <tr>
                            <th>CUP</th>
                            <th>CUC</th>
                            <th>MP</th>
                            <th>CUP</th>
                            <th>CUC</th>
                            <th>MP</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Producto</th>
                                <th>@item.Um</th>
                                <th>@item.VentaMn</th>
                                <th>@item.VentaCuc</th>
                                <th>@item.Mp</th>
                                <th>@item.AcumuladoMn</th>
                                <th>@item.AcumuladoCuc</th>
                                <th>@item.AcumuladoMp</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    $(document).ready(function () {
    $('#Reportes').removeClass("active");
    $('#vent').addClass("active");
    });

}
