@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Backend.cshtml";
}
<div class="row">
    <a asp-action="CrearUsuario" class="btn btn-default">Crear nuevo Usuario</a>
    <hr />
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr><th>Usuario</th><th>Roles</th><th>Estado</th><th>Acciones</th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>
                            @{
                                var roles = await userManager.GetRolesAsync(item);
                                if (roles.Count > 0)
                                {
                                    @foreach (var rol in roles)
                                    {
                                        <p>@rol</p>
                                    }
                                }
                                else
                                {
                                    <p class="text-warning">NO TIENE ROLL</p>
                                }
                            }
                        </td>
                        @if (await userManager.IsLockedOutAsync(item))
                        {
                            <td>Bloqueado</td>
                        }
                        else
                        {
                            <td>Activo</td>
                        }

                        <td>
                            @if (await userManager.IsLockedOutAsync(item))
                            {
                                <a asp-action="DesbloquearUsuario" asp-route-id="@item.Id" class="btn btn-success"><i class="fa fa-unlock"></i></a>
                            }
                            else
                            {
                                <a asp-action="BloquearUsuario" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-lock"></i></a>
                            }
                            <a asp-action="EditarUsuario" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

