@model MateriasPrimasApp.Models.Entrada

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-trash-o"></i>Eliminar Entrada
                </div>
            </div>
            <div class="portlet-body">
                <h3 class="text-center">¿Desea eliminar esta Entrada?</h3>
                <br />
                <div class="row">
                    <div class="col-md-6 text-right">
                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>
                    </div>
                    <div class="col-md-6 text-right">
                        <dt>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Cliente.Nombre)
                        </dd>
                    </div>
                    <div class="col-md-6 text-right">
                        <dt>
                            Unidad
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.UnidadOrganizativa.Nombre)
                        </dd>
                    </div>
                </div>
                <br />
                <br />
                <div class="text-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-default">Atrás</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#operaciones').addClass("open");
            $('#entradas').addClass("active");
        });  
    </script>
}

