@model IEnumerable<MateriasPrimasApp.Models.Entrada>

@{
    ViewData["Title"] = "Listado de Entradas a la UEB";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


@section Styles{
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />
}
<div class="row">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <span class="caption-subject bold uppercase">Listado de Entradas</span>
            </div>
            <div class="actions">
                <!--<a href="#" class="btn btn-circle btn-default btn-sm">
                <i class="fa fa-pencil"></i> Edit </a>-->
                <a asp-action="Create" asp-controller="Entradas" class="btn btn-success">
                    <i class="fa fa-plus"></i> Añadir Entrada
                </a>
                <a class="btn btn-icon-only btn-default fullscreen" data-original-title="Ampliar" href="#">
                </a>
            </div>
        </div>
        <div class="portlet-body" style="height: auto;">
            <table class="table table-responsive" id="myDatatable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </th>
                        <th>
                            Unidad Organizativa
                        </th>                     
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-order>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnidadOrganizativa.Nombre)
                            </td>
                            <td>
                                @if (!item.Confirmada)
                                {
                                    <a asp-action="DetallesDeEntrada" asp-route-id="@item.Id" class="btn  blue"><i class="fa fa-cubes"></i> Productos</a>
                                    if (item.DetallesDeEntrada.Count > 0)
                                    {
                                        <a asp-action="Confirmar" asp-route-id="@item.Id" class="btn  green"><i class="fa fa-check"></i> Confirmar</a>
                                    }
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn yellow hidden-print"><i class="fa fa-edit"></i> Editar</a>
                                }
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info hidden-print"><i class="fa fa-eye"></i> Detalles</a>
                                @if (!item.Confirmada)
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn red"><i class="fa fa-trash"></i> Eliminar</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PORTLET-->
</div>


@section scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script>
        $('document').ready(function () {
            $('#myDatatable').DataTable({
                "language": {
                    "paginate": {
                        "first": "Primera",
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "last": "&Uacute;ltima"
                    },
                    "info": "Mostrando resultados del _START_ al _END_ de un total de _TOTAL_",
                    "lengthMenu": "Mostrando _MENU_ resultados",
                    "search": "Buscar: ",
                    "infoEmpty": "Mostrando 0 resultados",
                    "infoFiltered": "(filtrado de un total de _MAX_ resultados)",
                    "sZeroRecords": "No se encontraron resultados con este criterio"
                },
                "pagingType": "full_numbers",
                dom: 'Bfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: [0, 1, 2,]
                        }
                    },
                ]
            });
        });
    </script>
}
