<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 4.0.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SGCP</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="~/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="~/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/layout5/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/layout5/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/css/chosen.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/hint.min.css" rel="stylesheet" />
    <link href="~/lib/chart.js/Chart.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<body class="page-header-fixed page-quick-sidebar-over-content">

    <!-- BEGIN MAIN LAYOUT -->
    <div class="wrapper">
        <!-- Header BEGIN -->
        <header class="page-header">
            <nav class="navbar mega-menu" role="navigation">
                <div class="container-fluid">
                    <div class="clearfix navbar-fixed-top">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                        <!-- End Toggle Button -->
                        <!-- BEGIN LOGO -->
                        <a id="index" asp-action="index" asp-controller="Home" class="page-logo">
                            <img src="~/layout5/img/logo.png" alt="Logo">
                        </a>
                        <img src="~/layout5/img/banner.png" class="page-logo" />
                        <!-- END LOGO -->
                        <!-- END SEARCH -->
                        <!-- BEGIN TOPBAR ACTIONS -->
                        <div class="topbar-actions">
                            <!-- END GROUP INFORMATION -->
                            <!-- BEGIN USER PROFILE -->
                            <partial name="_LoginPartial" />
                            <!-- END USER PROFILE -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            @*<button type="button" class="quick-sidebar-toggler">
                                    <span class="sr-only">Toggle Quick Sidebar</span>
                                    <i class="icon-logout"></i>
                                </button>*@
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </div>
                        <!-- END TOPBAR ACTIONS -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <partial name="_Navbar" />


                    <!-- END NAVBAR COLLAPSE -->

                </div>
                <!--/container-->
            </nav>

        </header>
        <!-- Header END -->
        <!-- Page Content BEGIN -->
        <div class="container-fluid">
            <div class="page-content">
                @RenderBody()
            </div>
            <!-- Page Content END -->
            <!-- Copyright BEGIN -->
            @await Component.InvokeAsync("Footer")
            <!-- Copyright END -->
        </div>
    </div>

    <!-- END MAIN LAYOUT -->
    <a href="#index" class="go2top"><i class="icon-arrow-up"></i></a>

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <script src="../../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/layout5/scripts/layout.js" type="text/javascript"></script>
    <script src="~/layout5/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/layout5/scripts/index.js" type="text/javascript"></script>
    <script src="~/pages/scripts/tasks.js" type="text/javascript"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/chosen.jquery.min.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        $(document).ready(function () {
            $('.alert .close')
                .on('click', function () {
                    $('#error_msg').hide("350");
                });
            $('.chosen-select').chosen();
        });
        var controller = window.location.href.split("/");
        var url = '#' + controller[3];
        $(url).addClass('active');
        console.log(url);
        $(url).parent().parent().addClass("open");
    </script>

    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Tasks.initDashboardWidget(); // init tash dashboard widget
        });
    </script>
    @if (TempData["notice"] != null || TempData["error"] != null || TempData["exito"] != null)
    {
        <script>
        @if (TempData["notice"] != null) {
            @:var messageInfo = "@TempData["notice"]";
        }
        @if (TempData["error"] != null) {
            @:var messageError = "@TempData["error"]";
        }
        @if (TempData["exito"] != null) {
            @:var messageSuccess = "@TempData["exito"]";
        }
            var showMessage = function () {
                toastr.options = {
                    "positionClass": "toast-bottom-right",
                    "closeButton": true,
                    "showDuration": 600,
                    "hideDuration": 300,
                    };
                if (typeof messageError != 'undefined')
                    window.setTimeout(function () { toastr.error(messageError); }, 300);
                if (typeof messageInfo != 'undefined')
                    window.setTimeout(function () { toastr.info(messageInfo); }, 300);

                if (typeof messageSuccess != 'undefined')
                    window.setTimeout(function () { toastr.success(messageSuccess); }, 300);
                //window.hideDuration(function () { toastr.success(messageSuccess) }, 3000);
            };
            showMessage();
        </script>
    }




    <!-- END JAVASCRIPTS -->
    @RenderSection("Scripts", required: false)

</body>
<!-- END BODY -->
</html>
