@model MateriasPrimaApp.Models.Venta

@{
    ViewData["Title"] = "Detalles De Venta";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eye"></i>Detalles de Venta
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Cliente.Nombre)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            Unidad
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.UnidadOrganizativa.Nombre)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            Productos
                        </dt>                        
                    </div>
                    <div class="col-md-6">
                        <dd>
                            <button id="agregar" class="btn btn-default">Agregar productos</button>
                        </dd>
                    </div>
                </div>
                <div class="row staic info">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <hr />
                        <div id="result">
                            @await Component.InvokeAsync("DetallesDeVenta", new { VentaId = Model.Id })
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<dl class="dl-horizontal"></dl>
<div class="text-center">
    <div class="btn-group btn-group-solid">
        <a asp-action="Index" class="btn btn-info">Atrás</a>
    </div>
</div>
<div class="modal fade draggable-modal" id="draggable" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Agregar producto a la entrada</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-11">
                        <div id="error_msg" class="alert alert-danger" style="display:none">
                            <i class="close icon"></i>
                            <div class="header">
                                Hay errores en el formulario
                            </div>
                            <ul class="errors"></ul>
                        </div>
                        <form asp-controller="Ventas" asp-action="AddDetalle" class="form form-horizontal" data-ajax="true" dat-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result" data-ajax-success="onSuccess" data-ajax-failure="onFailed" id="nuevo_detalle_form">
                            <input type="hidden" name="EntradaId" value="@Model.Id" />
                            <div class="form-group">
                                <label for="codigo">Producto</label>
                                <select name="ProductoId" asp-items="ViewBag.Productos" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label for="organismo">Cantidad</label>
                                <input type="text" name="Cantidad" class="form-control" /><span></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Agregar" />
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {
    <script>
        $('#agregar').on("click", function () {
            $('.modal').modal();
        });
        var onSuccess = function (context) {
            $('.modal').modal('hide');
            $('#nuevo_detalle_form').trigger('reset');
        };
        var onFailed = function (context) {
            var errors = context.responseJSON
            var s = ""
            $.each(errors, function (index, value) {
                s += "<li>" + value + "</li>";
            });
            $('#error_msg').show(250);
            $('.errors').html($.parseHTML(s));
        };
        $('.message .close')
            .on('click', function () {
                $('#error_msg').hide("350");
            });
    </script>
}
