@model MateriasPrimasApp.Models.Venta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eye"></i>Detalles de Venta
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Cliente.Nombre)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.UnidadOrganizativa)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.UnidadOrganizativa.Nombre)
                        </dd>
                    </div>
                </div>
                <br />
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre del Producto</th>
                            <th>Cantidad</th>
                            <th>Precio de Venta CUP</th>
                            <th>Precio de venta CUC</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Detalles)
                        {
                            <tr>
                                <th>@item.Producto.Nombre</th>
                                <th>@item.Cantidad</th>
                                <th>@item.PrecioVentaMn</th>
                                <th>@item.PrecioVentaMlc</th>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
<dl class="dl-horizontal"></dl>
<div class="text-center">
    <a asp-action="Index" class="btn btn-info">Atrás</a>
</div>
