@model MateriasPrimasApp.Models.Venta

@{
    ViewData["Title"] = "Detalles De Venta";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eye"></i>Detalles de Venta
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-2 col-md-offset-4 text-left">
                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>
                    </div>
                    <div class="col-md-4 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-2 col-md-offset-4 text-left">
                        <dt>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>
                    </div>
                    <div class="col-md-4 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Cliente.Nombre)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-2 col-md-offset-4 text-left">
                        <dt>
                            @Html.DisplayNameFor(model => model.UnidadOrganizativa)
                        </dt>
                    </div>
                    <div class="col-md-4 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.UnidadOrganizativa.Nombre)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-2 col-md-offset-4 text-left">
                        <dt>
                            Productos
                        </dt>
                    </div>
                    <div class="col-md-6">
                        <dd>
                            <button id="agregar" class="btn btn-default">Agregar productos</button>
                        </dd>
                    </div>
                </div>
                <div class="row staic info">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <hr />
                        <div id="result">
                            @await Component.InvokeAsync("DetallesDeVenta", new { VentaId = Model.Id })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row staic info">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <a asp-action="Index" class="btn btn-success">Aceptar</a>
                        <a asp-action="Index" class="btn btn-default">Atrás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="draggable" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center">Agregar Productos</h4>
            </div>
            <partial name="_AddDetallePartial" model="new DetalleDeVenta() { VentaId = @Model.Id}" />
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/site.js"></script>
}

