@model MateriasPrimasApp.Models.Transferencia

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eye"></i>Detalles de Transferencia
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                </div>

                <div class="row static-info">
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Origen)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Origen.Nombre)
                        </dd>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-6 text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Destino)
                        </dt>
                    </div>
                    <div class="col-md-6 text-left">
                        <dd>
                            @Html.DisplayFor(model => model.Destino.Nombre)
                        </dd>
                    </div>
                </div>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre del Producto</th>
                            <th>Cantidad</th>
                            <th>Precio MN</th>
                            <th>Precio MLC</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Detalles)
                        {
                            <tr>
                                <th>@item.Producto.Nombre</th>
                                <th>@item.Cantidad</th>
                                <th>@item.PrecioMn</th>
                                <th>@item.PrecioMlc</th>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<dl class="dl-horizontal"></dl>
<div class="text-center">
    @if (User.IsInRole("Consultor"))
    {
        <a asp-action="TodasLasTransferencias" class="btn btn-info">Atrás</a>
    }
    @if (User.IsInRole("Comercial"))
    {
        <a asp-action="Index" class="btn btn-info">Atrás</a>
    }
</div>