@model IEnumerable<MateriasPrimasApp.Models.DetalleDeVenta>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre del Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio de Venta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Producto.Nombre
                </td>
                <td>
                    @item.Cantidad
                </td>
                <td>
                    @item.PrecioVentaMn
                </td>
                <td>
                    <form asp-action="EliminarDetalle" asp-controller="Ventas" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result" data-ajax-success="DeleteSuccess" data-ajax-failure="DeleteFail">
                        <input type="hidden" value="@item.Id" name="id" />
                        <button type="submit" class="btn red hint--top" aria-label="Eliminar producto"><span class="fa fa-trash"></span></button>
                    </form>
            </tr>
        }
            <tr>
                <td></td>
                <td></td>
                <td class="text-left">
                    <strong>Total: </strong> @ViewBag.Total
                </td>
                <td></td>
            </tr>
    </tbody>
</table>
