@model MateriasPrimasApp.Models.Procesamiento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-recycle" style="font-size:20px;"></i>Detalles de Procesamiento
                </div>
            </div>
            <div class="portlet-body">
                <br />
                <div class="col-md-8 col-md-offset-2">
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                        <div class="col-md-6 text-center">
                            <dt>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </dt>
                        </div>
                        <div class="col-md-6 text-left">
                            <dd>
                                @Html.DisplayFor(model => model.Fecha)
                            </dd>
                        </div>
                    </div>
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                        <div class="col-md-6 text-center">
                            <dt>
                                Unidad Organizativa
                            </dt>
                        </div>
                        <div class="col-md-6 text-left">
                            <dd>
                                @Html.DisplayFor(model => model.UnidadOrganizativa.Nombre)
                            </dd>
                        </div>
                    </div>
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                        <div class="col-md-6 text-center">
                            <dt>
                                Materia Prima
                            </dt>
                        </div>
                        <div class="col-md-6 text-left">
                            <dd>
                                @Html.DisplayFor(model => model.Producto.Nombre)
                            </dd>
                        </div>
                    </div>
                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                        <div class="col-md-6 text-center">
                            @if (Model.Confirmado == true)
                            {
                                <dt>
                                    Cantidad Procesada
                                </dt>
                            }
                            else
                            {
                                <dt>
                                    Cantidad a procesar
                                </dt>
                            }
                        </div>
                        <div class="col-md-6 text-left">
                            <dd>
                                @Html.DisplayFor(model => model.Cantidad) @Model.Producto.Unidad.Unidad
                            </dd>
                        </div>
                    </div>

                    <div class="row static-info">
                    </div>
                    <div class="row static-info">
                        <div class="col-md-6 text-center">
                            <dt>
                                Merma
                            </dt>
                        </div>
                        <div class="col-md-6 text-left">
                            <dd>
                                @Html.DisplayFor(model => model.Merma) @Model.Producto.Unidad.Unidad
                            </dd>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <br />
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre del Producto</th>
                                    <th>Cantidad</th>
                                    <th>Unidad de Medida</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @ViewBag.Detalles)
                                {
                                    <tr>
                                        <td>@item.Derivado.Nombre</td>
                                        <td>@item.Cantidad</td>
                                        <td>@item.Derivado.Unidad.Unidad</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <div class="text-center">
                    <form asp-action="Confirmar" method="post">
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <div>
        @if (User.IsInRole("Consultor"))
        {
            <a asp-action="TodosLosProcesamientos" class="btn btn-info">Atrás</a>
        }
        @if (User.IsInRole("Comercial"))
        {
            <a asp-action="Index" class="btn btn-info">Atrás</a>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#operaciones').addClass("open");
            $('#entradas').addClass("active");
        });
    </script>

}
